body {
    background: #88a;
}

.checkers-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#board {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkers-board {
    background: #fff;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.checkers-grid {
    position: relative;
    width: 12.5%;
    height: 12.5%;
}

.dark-square {
    background: #345;
}

.light-square {
    background: #eef;
}

.checkers-piece {
    top: 10%;
    left: 10%;
    position: relative;
    width: 80%;
    height: 80%;
    border-radius: 100%;
}

.checkers-piece-red {
    background: #f21832;
}

.checkers-piece-blue {
    background: #858cef;
}

.highlight {
    outline: 3px solid rgba(0, 255, 0, 0.6);
    cursor: pointer;
}