body {
    background: #0142349f;
    margin: 0;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.checkers-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.title {
    text-align: center;
    color: rgb(2, 30, 58);
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#board {
    display: flex;
    margin-right: 20px;
}

.checkers-board {
    background: #fff;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    border: #563232 25px solid;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.game-info {
    width: 500px;
    height: 500px;
    background: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.checkers-grid {
    position: relative;
    width: 12.5%;
    height: 12.5%;
}

.dark-square {
    background: #345;
}

.light-square {
    background: #eef;
}

.checkers-piece {
    top: 10%;
    left: 10%;
    position: relative;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    transition: all 2.5s cubic-bezier(0.4, 0, 0.2, 1);
    /* creo q ig es muy rapido */
}

.checkers-piece-red {
    background: #f21832;
    transition: 2.5s ease-in-out;
}

.checkers-piece-blue {
    background: #858cef;
    transition: 2.5s ease-in-out;
}

.highlight {
    outline: 3px solid rgba(0, 255, 0, 0.6);
    cursor: pointer;
}

.checkers-piece.king {
    border: 2px solid gold;
    box-shadow: 0 0 10px gold;
}

.new-game {
    margin-top: 500px;
    margin-left: 0px;
    margin-right: 300px;
    padding: 10px 20px;
    background-color: #345;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.new-game:hover {
    background-color: #234;
}