body {
    background: #4a6c4c;
    margin: 0;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.checkers-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.title {
    text-align: center;
    color: #f0f0f0;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#board {
    display: flex;
    margin-right: 20px;
}

.checkers-board {
    background: #fff;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    border: #8d6e63 25px solid;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.checkers-grid {
    position: relative;
    width: 12.5%;
    height: 12.5%;
    cursor: pointer;
}

.dark-square {
    background: #689f6d;
    background-image: repeating-linear-gradient(45deg,
            rgba(0, 0, 0, 0.05) 0,
            rgba(0, 0, 0, 0.05) 1px,
            transparent 1px,
            transparent 2px);
}

.light-square {
    background: #f0e6c5;
}

.checkers-piece {
    top: 10%;
    left: 10%;
    position: relative;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5),
        inset 0 0 10px rgba(255, 255, 255, 0.2),
        inset 0 5px 8px rgba(0, 0, 0, 0.2);
    transition: all 2.5s;
}

.checkers-piece-red {
    background: #b22222;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5),
        inset 0 0 15px rgba(255, 255, 255, 0.3),
        inset 0 -5px 8px rgba(0, 0, 0, 0.2);
}

.checkers-piece-blue {
    background: #fdf5e6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5),
        inset 0 0 15px rgba(255, 255, 255, 0.9),
        inset 0 -5px 8px rgba(0, 0, 0, 0.2);
}

.checkers-grid.highlight {
    cursor: pointer;
}

.checkers-grid.highlight::after {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    border: 3px dashed #ffd700;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 99;
}

.checkers-piece.king {
    border: 3px solid #ffd700;
    box-shadow: 0 0 15px #ffd700,
        0 4px 6px rgba(0, 0, 0, 0.5),
        inset 0 5px 8px rgba(0, 0, 0, 0.2);
}

.game-info {
    width: 500px;
    height: 500px;
    background: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.new-game {
    margin-top: 500px;
    margin-left: 0px;
    margin-right: 300px;
    padding: 10px 20px;
    background-color: #8d6e63;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.new-game:hover {
    background-color: #6d4c41;
}