body {
    background: #88a;
}

.checkers-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#board {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkers-board {
    background: #fff;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.checkers-grid {
    width: 12.5%;
    height: 12.5%;
}

.dark-square {
    background: #345;
}

.light-square {
    background: #eef;
}